<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="static/style.css">
    <meta charset="utf-8">
    <title>{{ page.title }} - Marshall Mueller</title>
</head>

<body>

    <div class=column>
        <div class="menu">
            <div>
                <span class="title">Marshall Mueller</span>
                <ul>
                    <li><a href="about">About</a></li>
                </ul>
            </div>
        </div>


        <div class="row">
            <div class="left"></div>
            <div id="content">
                {{ content }}
            </div>
        </div>
        <div id="subline"><a href="https://patrickcollison.com/">"Imitation is the sincerest form of flattery"</a></div>

    </div>

</body>

</html>