<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/static/style.css">
    <meta charset="utf-8">
    <title>{{ page.title }} - Marshall Mueller</title>
</head>

<body>

    <div class=column>



        <div class="row">
            <div id="contentbox">
                <div id="content">
                    {{ content }}
                </div>
            </div>
            <div class="menu">
                <div>
                    <span class="title">Marshall Mueller</span>
                    <ul>
                        <li><a href="/about">About</a></li>
                        <li><a href="/organizations">Organizations</a></li>
                        <li><a href="/posts">Journal</a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div id="footer">
            <div id="subline">Feel free to&nbsp;<a href="mailto:marshall.mueller@tufts.edu">share any feedback</a></div>
        </div>
    </div>

</body>

</html>