<!DOCTYPE html>
<html>

<!--WIP Page-->    


<head>
    <link rel="stylesheet" href="static/uapprox_style.css">
    <meta charset="utf-8">
    <title>{{ page.title }} - Marshall Mueller</title>

    <!--CDN scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

    <!--My scripts-->
    <script src="js/universal_approximator.js"></script>
    
</head>

<body onload="onLoad()">
    <div id="myDIV" class="container">
        <canvas id="myChart" width="40em" height="40em"></canvas>
        <h2>Universal Approximator</h2>
        <button onclick="addLayer()">Add Layer</button>
        <ul id="myModel">
            <!-- list dynamically populated --> 
        </ul>
        <button onclick="fitModel()" class="fitBtn">Fit</button>
      </div>
          
      

      

</body>

</html>